<!-- Ryan Bachman
     University of Advancing Technology
     MS587, Databases and Web Development
     Summer 2024, Grad 1
     Assignment 2.1 - Building Your Own eBook and Audiobook Web Application -->

<!DOCTYPE html>
<html lang="en">
    <head> <!-- Create the heading details of the page, including settings content widths and adding stylesheets -->
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheets.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <!-- Creates the navigation bar. This will change colors dependent on the page the user has selected. -->
        <div class="rb-top">
          <div class="rb-bar rb-red rb-card rb-left-align rb-large">
            <a class="rb-bar-item rb-button rb-hide-medium rb-hide-large rb-right rb-padding-large rb-hover-white rb-large rb-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="rb-bar-item rb-button rb-padding-large rb-white">Home</a>
            <a href="/second" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">Interacting with Back-End DB's</a>
              <a href="/third" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">References</a>
          </div>

          <!-- Navbar on small screens -->
          <div id="navDemo" class="rb-bar-block rb-white rb-hide rb-hide-large rb-hide-medium rb-large">
            <a href="/second" class="rb-bar-item rb-button rb-padding-large">Interacting with Back-End DB's</a>
              <a href="/third" class="rb-bar-item rb-button rb-padding-large">References</a>
          </div>
        </div>

        <!-- Header -->
        <!-- Differs from HEAD. This is a header field that shows the website overall name and my details. -->
        <header class="rb-container rb-red rb-center" style="padding:24px 4px">
          <h1 class="rb-margin rb-jumbo">Building Your Own eBook and Audiobook Web Application</h1>
          <p class="rb-xlarge">Ryan Bachman, MS587</p>
        </header>

        <!-- First Grid -->
        <!-- Uses a grid format so that the image can be on the right and the text can be on the left. -->
        <div class="rb-row-padding rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-twothird">
              <h1>What is this website?</h1>

              <p class="rb-text-grey">This is a web application that I've created for MS587, Databases and Web Development at the
                  University of Advancing Technology. The purpose of this application is to create a Web Application that will
                  store books that a user can read and incorporate text-to-speech to make a primitive audiobook. The user will
                  be able to choose which books they want to read and go from there.
              </p>
                <p class="rb-text-grey">A benefit of web applications is that since they're hosted online, they do not need to be
                downloaded like a traditional app. Users will be able to interface with your program fully from
                within their web browser, freeing up space on hard drives and is generally not reliant on a user's
                hardware.</p>
            </div>

            <div class="rb-third rb-center">
              <img src="/static/image/HomePageImageGuyReadingBookOnline.jpg" alt="Man shopping online, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>
          </div>
        </div>

        <!-- Second Grid -->
        <!-- Uses a grid format so that the image can be on the left and the text can be on the right. -->
        <div class="rb-row-padding rb-light-grey rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-third rb-center">
              <img src="/static/image/HomePageImageManReadingGenres.jpg" alt="Kid working on computer near servers, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>

            <div class="rb-twothird">
              <h1>How Web Applications Work</h1>

              <p class="rb-text-grey">In order to work correctly, a web application must have an application server, a web server
              and a database. A web server's job is to display website content through storing, processing
                  and delivering webpages to users. An application server's job is to hosts applications or software that delivers a
                  business application through a communication protocol. Finally, a database is required to store site and user information.
              Databases also allow developers to organize data in logical structures and retrieve it quickly and efficiently when needed.
                  Users can also easily search and filter data to find specific information.</p>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <!-- Creates a small footer at the bottom of the page with my name and class details. -->
        <footer class="rb-container rb-padding-64 rb-center rb-opacity">
         <p>Ryan Bachman, University of Advancing Technology, MS587, Databases and Web Development</p>
        </footer>
    </body>
</html>
