<!-- Ryan Bachman
     University of Advancing Technology
     MS587, Databases and Web Development
     Summer 2024, Grad 1
     Assignment 2.1 - Building Your Own eBook and Audiobook Web Application -->

<!DOCTYPE html>
<html lang="en">
    <head> <!-- Create the heading details of the page, including settings content widths and adding stylesheets -->
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <!-- Creates the navigation bar. This will change colors dependent on the page the user has selected. -->
        <div class="rb-top">
          <div class="rb-bar rb-red rb-card rb-left-align rb-large">
            <a class="rb-bar-item rb-button rb-hide-medium rb-hide-large rb-right rb-padding-large rb-hover-white rb-large rb-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">Home</a>
            <a href="Interacting.html" class="rb-bar-item rb-button rb-padding-large rb-white">Interacting with Back-End DB's</a>
            <a href="IntravInter.html" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">Intranet vs. Internet</a>
              <a href="References.html" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">References</a>
          </div>


          <!-- Navbar on small screens -->
          <div id="navDemo" class="rb-bar-block rb-white rb-hide rb-hide-large rb-hide-medium rb-large">
            <a href="Interacting.html" class="rb-bar-item rb-button rb-padding-large">Interacting with Back-End DB's</a>
            <a href="IntravInter.html" class="rb-bar-item rb-button rb-padding-large">Intranet vs. Internet</a>
              <a href="References.html" class="rb-bar-item rb-button rb-padding-large">References</a>
          </div>
        </div>

        <!-- Header -->
        <!-- Differs from HEAD. This is a header field that shows the website overall name and my details. -->
        <header class="rb-container rb-red rb-center" style="padding:24px 4px">
          <h1 class="rb-margin rb-jumbo">Guide to Web Apps and Databases</h1>
          <p class="rb-xlarge">Ryan Bachman, MS587</p>
        </header>

        <!-- First Grid -->
        <!-- Uses a grid format so that the image can be on the right and the text can be on the left. -->
        <div class="rb-row-padding rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-twothird">
              <h1>Database Types</h1>

              <p class="rb-text-grey">There are two types of databases that are used for web applications; Relational and Non-Relational databases.
                  A relational database is a collection of data that is <b>structured</b> and accessed in order to locate specific information.
                  It does this by maintaining a relationship between two or more entities. Some benefits of relational databases are its scalability,
                  ease-of-use, integrity of the data and uptime/reliability of the database. Some downsides of relational databases are that it's slow
                  to pull data, inability to store documents/graphs in original format, sparse data storage and fixed schema (unable to change the structure
                  once created).
              </p>
                <p class="rb-text-grey">A non-relational database is a collection of data that is <b>unstructured</b> and doesn't have a strict distinction
                    between rows, columns and their relations. Due to this increased flexibility, these databases are generally faster and more flexible.
                  Some benefits of relational databases are its scalability, ease-of-use, speed, and processing time. Some downsides of relational databases are that
                    it can struggle with large datasets, difficulty updating data, prone to unexpected behavior and lack of standardization between each of the vendors
                    for non-relational databases.</p>
            </div>

            <div class="rb-third rb-center">
              <img src="image_fx_web_application_working_with_a_database_comm.jpg" alt="Computer with database details, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>
          </div>
        </div>

        <!-- Second Grid -->
        <!-- Uses a grid format so that the image can be on the left and the text can be on the right. -->
        <div class="rb-row-padding rb-light-grey rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-third rb-center">
              <img src="image_fx_applications_working_together_with_a_database.jpg" alt="Man holding database icon with data, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>

            <div class="rb-twothird">
              <h1>How Do They Interface?</h1>

              <p class="rb-text-grey">In order to connect your web application to a database, you first need to pick a DBMS, or Database Management System.
              From there, you can define your schema by laying out what type of data you'll need to hold on the back-end. After this initial work is completed,
              you can connect your database by using the following steps:</p>
                <list class="rb-text-grey">
                    <li>1. Create the Database.</li>
                    <li>2. Set up the server for your Database.</li>
                    <li>3. Connect the Database to the Web Application.</li>
                    <li>4. Create a Data Access Layer.</li>
                    <li>5. Add measures to protect the data.</li>
                    <li>6. Optimize the Database to work quickly.</li>
                    <li>7. Test your Database works.</li>
                    <li>8. Backup the Database regularly to minimize data losses.</li>
                </list>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <!-- Creates a small footer at the bottom of the page with my name and class details. -->
        <footer class="rb-container rb-padding-64 rb-center rb-opacity">
         <p>Ryan Bachman, University of Advancing Technology, MS587, Databases and Web Development</p>
        </footer>
    </body>
</html>
