<!-- Ryan Bachman
     University of Advancing Technology
     MS587, Databases and Web Development
     Summer 2024, Grad 1
     Assignment 2.1 - Building Your Own eBook and Audiobook Web Application -->

<!DOCTYPE html>
<html lang="en">
    <head> <!-- Create the heading details of the page, including settings content widths and adding stylesheets -->
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <!-- Creates the navigation bar. This will change colors dependent on the page the user has selected. -->
        <div class="rb-top">
          <div class="rb-bar rb-red rb-card rb-left-align rb-large">
            <a class="rb-bar-item rb-button rb-hide-medium rb-hide-large rb-right rb-padding-large rb-hover-white rb-large rb-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">Home</a>
            <a href="Interacting.html" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">Interacting with Back-End DB's</a>
            <a href="IntravInter.html" class="rb-bar-item rb-button rb-padding-large rb-white">Intranet vs. Internet</a>
              <a href="References.html" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">References</a>
          </div>


          <!-- Navbar on small screens -->
          <div id="navDemo" class="rb-bar-block rb-white rb-hide rb-hide-large rb-hide-medium rb-large">
            <a href="Interacting.html" class="rb-bar-item rb-button rb-padding-large">Interacting with Back-End DB's</a>
            <a href="IntravInter.html" class="rb-bar-item rb-button rb-padding-large">Intranet vs. Internet</a>
              <a href="References.html" class="rb-bar-item rb-button rb-padding-large">References</a>
          </div>
        </div>

        <!-- Header -->
        <!-- Differs from HEAD. This is a header field that shows the website overall name and my details. -->
        <header class="rb-container rb-red rb-center" style="padding:24px 4px">
          <h1 class="rb-margin rb-jumbo">Guide to Web Apps and Databases</h1>
          <p class="rb-xlarge">Ryan Bachman, MS587</p>
        </header>

        <!-- First Grid -->
        <!-- Uses a grid format so that the image can be on the right and the text can be on the left. -->
        <div class="rb-row-padding rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-twothird">
              <h1>Intranet vs. Internet</h1>

              <p class="rb-text-grey">An Intranet is a private network that only established members of an organization can access.
                  These are typically unavailable to the general populace and has strict access controls.
              </p>
                <p class="rb-text-grey">The Internet works a lot like an intranet but without the access controls. This means that internet
                sites can be accessed by anyone, although some access controls can still be used to restrict features to user's who have
                accounts for that website.</p>
            </div>

            <div class="rb-third rb-center">
              <img src="image_fx_the_internet_versus_intranet_cartoon_style.jpg" alt="Computer connections for internet vs. intranet, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>
          </div>
        </div>

        <!-- Second Grid -->
        <!-- Uses a grid format so that the image can be on the left and the text can be on the right. -->
        <div class="rb-row-padding rb-light-grey rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-third rb-center">
              <img src="image_fx_business_technology_accessing_the_internet.jpg" alt="Uses of information from businesses, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>

            <div class="rb-twothird">
              <h1>Uses of Intranet vs. Internet</h1>

                <p class="rb-text-grey">Businesses will typically use an Intranet to give their employees the resources they need to succeed in their
                    business. This can mean providing them with tools they need on a daily basis, access employee benefits, communicate with one another,
                    share information to the business and filter only company news, among many other uses.
              </p>
                <p class="rb-text-grey">Businesses will also use the internet to directly interact with their customers. This could mean providing their
                users with specific information on their products, give them access to manage their accounts, provide web applications to interface with
                their products directly and many more uses.</p>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <!-- Creates a small footer at the bottom of the page with my name and class details. -->
        <footer class="rb-container rb-padding-64 rb-center rb-opacity">
         <p>Ryan Bachman, University of Advancing Technology, MS587, Databases and Web Development</p>
        </footer>
    </body>
</html>
